.page {
    background-color: aliceblue;
    text-align: center;
    color:darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quiz-prompt {
    color:black;
    background-color: brown;
    
}

#quiz-content {
    background-color: rgb(64, 158, 72);
}

.hide {
    display: none;
}

#time{
    color: blueviolet;
}