.page {
    background-color: aliceblue;
    text-align: center;
    color:darkslateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#quiz-prompt {
    color:black;

    
}

#quiz-content {

}

.hide {
    display: none;
}

